---
import BaseLayout from "../layouts/BaseLayout.astro";
import Calculator from "../components/Calculator.astro";

const title = "Preis pro 100 Rechner";
const description = "Preis pro 100 g/ml berechnen und zwei Produkte vergleichen. Schnell, kostenlos, ohne Anmeldung.";
---

<BaseLayout title={title} description={description}>
  <h1 slot="header">Preis pro 100 Rechner</h1>
  <p slot="header">{description}</p>

  <Calculator />
</BaseLayout>
